@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


*{
    margin: 0;
    padding: 0;

    font-family: 'Noto Sans', sans-serif;
}


.hero{
    background-image: url(../image/img1.jpg);
    background-size:cover;
    background-position: bottom center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 51% 100%, 51% 100%, 0 70%);
}

.hero h1{
    color:azure;
    font-size: 100px;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 40px;
    letter-spacing: 10px;
    padding-top: 60px;
    

}

.artical , #all-type{
    width: 80%;
    margin: 60px auto;
    border-width: 5px;
    border-color: #757575;
    border-style: solid;
    background-color:wheat;
    padding: 20px;
    background: linear-gradient(10deg,rgb(233, 149, 163),rgb(108, 108, 223));

}

.artical h2 ,#all-type h2{
    text-align:center;
    font-size: 48px;
    border-style:solid;
    border-width:2px;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-color:black;
    padding-bottom: 20px;
    margin-bottom: 30px;



}

.artical p{
    font-size: 28px;
    line-height: 2em;
    
}

.b{
    font-size: 2em;
}


.fl-img{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap;*/
} 

.fl-img div{
    min-width: 300px;

}

.fl-img img{
    width: 100%;
}